@import "lib/base";
@import "lib/external";


// *{
//     font-family:  'font';
// }

// body{
//     background-color: #1570A6;
// }

header{
    &.navbar{
        background-color: $fms-blue-color;
        margin-bottom: 0; 
        a{
            color:$fms-dark-color;
        }
    }
} 

section.landing{

section.what{
    margin-bottom:80px;
    h3{
        text-align: center;
        //  font-family:  Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
        color:$fms-sub-highlight;
        font-weight: normal;
    }
    .thumbnail-subtitle{
        font-size: 2em;
        text-align: center;

        .pill{
            background-color: $fms-sub-highlight;
            color:$fms-light-color;
            padding : 7px 15px;
            border-radius: 65px ;
        }
    }
    .what-bullet-container{
        // @extend .col-lg-4;
        // @extend .col-md-12;
        //  @extend .col-sm-12;
        //   @extend .col-xs-12;
        img{
        //     @extend .col-lg-12;
        //      @extend .col-md-12;
        //  @extend .col-sm-12;
        //   @extend .col-xs-12;
        }
        .thumbnail-subtitle{
        //     @extend .col-lg-12;
        //      @extend .col-md-12;
        //  @extend .col-sm-12;
        //   @extend .col-xs-12;
        }
    }
}

    div.header{

         background-color: $fms-dark-color;
        background: url('../content/images/header.jpg') no-repeat bottom center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    //    .overlay{
    //        position: fixed;
    //        @include container-centered;
    //        width:100%;
    //         z-index: -10;
    //         top: 0; left: 0; right: 0; bottom: 0;
    //         background-color: rgba(255, 255, 255, 0.5); /* L'opacite se regle ici */
    //    }
        // background-color: $fms-blue;

        color:$fms-light-color;
        div.jumbo-pict{
            // @extend .col-lg-4;
        }
        div.jumbo-description{
            // @extend .col-lg-6;
            // @extend .col-lg-offset-2;
            padding-bottom:20px;
        }
        p{
            padding: 20px 10px;

            /* X Small devices (tablets, 768px and up) */
            @media (min-width: $screen-xs-min) {
                text-align: center;
            }
            /* Small devices (tablets, 768px and up) */
            @media (min-width: $screen-sm-min) {
                font-size: 1em;
                text-align: center;
            }

            /* Medium devices (desktops, 992px and up) */
            @media (min-width: $screen-md-min) {
                text-align: center;
             }

            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: $screen-lg-min) {
                font-size: 1em;
                text-align: left;
            }
        }

        .subscribe-newsletter{

            input[type="email"]{
                padding:11px 10px;
            }

            @media (min-width: $screen-xs-min) {
                text-align: center;
                margin-left:10px;

                input[type="email"]{
                    font-size: 1.5em;
                    height: 60px;
                }

                .btn{
                    margin-top:10px;
                    padding:15px 30px;
                    font-size: 2em;
                }
            }
            @media (min-width: $screen-lg-min) {
                text-align: left;
                margin-left:10px;

                input[type="email"]{
                    // font-size: 1em;
                    height: 40px;
                }
                .btn{
                    padding:9px 24px;
                    font-size: 1.1em;
                    margin-top:0;
                }
            }
        }
    }

    div.title-container{
        div.floating-block{
            position: relative;
            margin-top: 30px;
            // margin-left: 50%;
            width: auto;
            height: auto;
            text-align: center;
            // @include container-centered;

            span{
                &.title{
                    font-size: 4.2em;

                    .suffix{
                        color:$fms-sub-highlight;
                        // font-size: .5em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

footer.fixed-footer{
    bottom:0;
    background-color: $fms-light-color;
    border-top: 2px $fms-light-grey-color solid;
    width:100%;
    position: fixed;
    padding :10px;
    .footer-link{
        text-decoration: none;
        color : $fms-blue-color;
        cursor:pointer;
        font-weight: bold;
        font-size:1.3em;
        img{
            width:45px;
        }
    }
}