<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <title>FeedMySport.com</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../dist/hero.min.css" type="text/css" inline ></link>
    </head>
    <body>
        <header class="bs-docs-nav navbar navbar-static-top" id="top"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button> 
                    <a href="#top" class="navbar-brand">FeedMySport</a> 
                </div> 
                <nav class="collapse navbar-collapse" id="bs-navbar"> 
                    <ul class="nav navbar-nav">  
                        <li class="active"> <a href="#what">Le Concept</a> </li> 
                        <li> <a href="#whatsup">L'Actualité</a> </li>
                        <li> <a href="#who">La Team</a> </li> 
                    </ul> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <!--<li><a href="http://themes.getbootstrap.com" >Themes</a></li> 
                        <li><a href="http://expo.getbootstrap.com" >Expo</a></li> 
                        <li><a href="http://blog.getbootstrap.com" >Blog</a></li>-->
                        <li><a target="_blank" href="https://www.facebook.com/feedmysport" class="footer-link">
                <img src="content/images/facebook-page.png" alt="Venez nous soutenir sur Facebook" height="25">
            </a></li> 
                    </ul>
                </nav> 
            </div> 
        </header>
        <section class="landing">
            <div class="container-fluid header">
                <div class="overlay">                    
                </div>
                <div class="container">
                    <div class="row">                    
                        <div class="jumbo-pict">
                            <div class="title-container">
                                <div class="floating-block">
                                    <span class="title">FeedMy<span class="suffix">Sport</span>.com<hr class="hidden-lg"></span>
                                </div>
                            </div>
                        </div>
                        <div class="jumbo-description">
                            <h1><p>Boostez votre champion
                                <br>
                                Soutenez-le pour qu'il vive à 100% de sa passion.</p></h1>
                            <div class="subscribe-newsletter form-inline">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="search" placeholder="Saisissez votre email ..." value="">
                                    <span class="btn btn-info">Je m'inscris !</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        <!--<div class="title-container">
                            <div class="floating-block">
                                <span class="title">FeedMy<span class="suffix">Sport</span>.com</span>
                                <span>For more informations, please contact us <i class="fa fa-envelope-o"></i> </span>                
                            </div>
                        </div>-->

                        <section id="what" class="what">
                            <h3>Le Concept</h3>
                            <div class="container" style="text-align:center;">
                                <p style="font-size:1.4em; ">Faites partie de la vie de vos sportifs favoris. En devenant mécène, vous pourriez aider vos sportifs à vivre de leur sport.</p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="what-bullet-container">                                        
                                            <img src="content/images/responsive-design-devices.jpg"  />
                                            <div class="thumbnail-subtitle">
                                                <span class="pill">1</span>
                                                <div class="title">
                                                    On se connecte
                                                </div>
                                            </div>
                                    </div>
                                    <div class="what-bullet-container">                                        
                                            <img src="content/images/responsive-design-devices.jpg" />
                                            <div  class="thumbnail-subtitle">
                                                <span class="pill">2</span>
                                                <div class="title">
                                                    On donne
                                                </div>
                                            </div>
                                    </div>
                                    <div class="what-bullet-container">                                        
                                            <img src="content/images/responsive-design-devices.jpg"  />
                                            <div class="thumbnail-subtitle">
                                                <span class="pill">3</span>
                                                <div class="title">
                                                    On vois le résultat
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="whatsup" class="what">
                            <h3>L'Actualité</h3>
                            <div class="container" style="text-align:center;background-color:#1570A6; color:#fff; font-size: 1.1em; padding: 7px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ultricies urna. In ut pulvinar nisi. Cras efficitur tortor in magna suscipit porta. Maecenas vestibulum facilisis posuere. In vel lacus auctor, tincidunt tortor non, ullamcorper ex. Suspendisse metus lorem, euismod et metus mollis, dapibus sodales eros. Proin condimentum feugiat eros, ac hendrerit lacus facilisis ac. Etiam porttitor magna eu sem porttitor, id laoreet tellus molestie. Donec mattis magna eget diam fringilla, eget viverra arcu elementum. Nam blandit dolor id cursus gravida. Phasellus sit amet facilisis metus. Pellentesque mattis tortor sit amet nisl auctor tincidunt. Vestibulum pharetra enim sit amet molestie iaculis. Nullam pharetra posuere pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ultricies urna. In ut pulvinar nisi. Cras efficitur tortor in magna suscipit porta. Maecenas vestibulum facilisis posuere. In vel lacus auctor, tincidunt tortor non, ullamcorper ex. Suspendisse metus lorem, euismod et metus mollis, dapibus sodales eros. Proin condimentum feugiat eros, ac hendrerit lacus facilisis ac. Etiam porttitor magna eu sem porttitor, id laoreet tellus molestie. Donec mattis magna eget diam fringilla, eget viverra arcu elementum. Nam blandit dolor id cursus gravida. Phasellus sit amet facilisis metus. Pellentesque mattis tortor sit amet nisl auctor tincidunt. Vestibulum pharetra enim sit amet molestie iaculis. Nullam pharetra posuere pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ultricies urna. In ut pulvinar nisi. Cras efficitur tortor in magna suscipit porta. Maecenas vestibulum facilisis posuere. In vel lacus auctor, tincidunt tortor non, ullamcorper ex. Suspendisse metus lorem, euismod et metus mollis, dapibus sodales eros. Proin condimentum feugiat eros, ac hendrerit lacus facilisis ac. Etiam porttitor magna eu sem porttitor, id laoreet tellus molestie. Donec mattis magna eget diam fringilla, eget viverra arcu elementum. Nam blandit dolor id cursus gravida. Phasellus sit amet facilisis metus. Pellentesque mattis tortor sit amet nisl auctor tincidunt. Vestibulum pharetra enim sit amet molestie iaculis. Nullam pharetra posuere pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ultricies urna. In ut pulvinar nisi. Cras efficitur tortor in magna suscipit porta. Maecenas vestibulum facilisis posuere. In vel lacus auctor, tincidunt tortor non, ullamcorper ex. Suspendisse metus lorem, euismod et metus mollis, dapibus sodales eros. Proin condimentum feugiat eros, ac hendrerit lacus facilisis ac. Etiam porttitor magna eu sem porttitor, id laoreet tellus molestie. Donec mattis magna eget diam fringilla, eget viverra arcu elementum. Nam blandit dolor id cursus gravida. Phasellus sit amet facilisis metus. Pellentesque mattis tortor sit amet nisl auctor tincidunt. Vestibulum pharetra enim sit amet molestie iaculis. Nullam pharetra posuere pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ultricies urna. In ut pulvinar nisi. Cras efficitur tortor in magna suscipit porta. Maecenas vestibulum facilisis posuere. In vel lacus auctor, tincidunt tortor non, ullamcorper ex. Suspendisse metus lorem, euismod et metus mollis, dapibus sodales eros. Proin condimentum feugiat eros, ac hendrerit lacus facilisis ac. Etiam porttitor magna eu sem porttitor, id laoreet tellus molestie. Donec mattis magna eget diam fringilla, eget viverra arcu elementum. Nam blandit dolor id cursus gravida. Phasellus sit amet facilisis metus. Pellentesque mattis tortor sit amet nisl auctor tincidunt. Vestibulum pharetra enim sit amet molestie iaculis. Nullam pharetra posuere pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            </div>
                                
                            </div>
                        </section>
                        <section id="who" class="what">
                            <h3>La Team</h3>
                            <div class="container" style="text-align:center;">
                            <a href="mailto:hello@feedmysport.com" >"Nous contacter"</a>    
                            </div>
                            
                        </section>
    </section>
    <footer class="fixed-footer container-fluid">
        <!--<div class="col-lg-2">
            <a target="_blank" href="https://www.facebook.com/feedmysport" class="footer-link">
                <img src="content/images/facebook-page.png" alt="Venez nous soutenir sur Facebook">
            </a>    
        </div>-->
    </footer>
    </body>
</html>
<!--<link href="dist/app.css" rel="stylesheet">
<link href="dist/style.css" rel="stylesheet">-->