<div class="jumbo-description">
    <span class="jumbo-description-text">Boostez votre champion
        <br>
        Soutenez-le pour qu'il vive à 100% de sa passion.</span>
    <div class="subscribe-newsletter form-inline">
        <div class="form-group">
            <input type="email" class="form-control" name="search" placeholder="Saisissez votre email ..." value="">
            <span class="button action">Je m'inscris !</span>
        </div>
    </div>
</div> 