<div class="jumbo-description">
    <div class="jumbo-description-text">    
        <h1>
            Boostez votre champion
            <br>
            Soutenez-le pour qu'il vive à 100% de sa passion.
        </h1>
    </div>
    <div class="subscribe-newsletter form-inline">
    <h4><p>Soyez informés dès l'ouverture de la plateforme</p></h4>
        <div class="form-group" id="nl-form">
            <input type="email" class="form-control" disabled name="email" placeholder="Saisissez votre email ..." value="" />
            <input type="button" class="button action" id="email-button" value="Je m'inscris !" />
            <!--<input type="button" class="button action" id="email-button" value="Envoyer un email !" />-->
        </div>
    </div>
</div> 