 <div class="jumbo-pict">
    <!--<div class="title-container">
        <div class="floating-block">
            <span class="title">FeedMy<span class="suffix">Sport</span>.com<hr class="hidden-lg"></span>
        </div>
    </div>-->

    <div class="jumbo-pict-frame">
        <img src="content/images/header.jpg" /> 
    </div>
</div> 