<nav> 
    <ul>  
        <li class="active"> <a href="#what">Le Concept</a> </li> 
        <li> <a href="#whatsup">L'Actualité</a> </li>
        <li> <a href="#who">La Team</a> </li> 
        <li> <a><img src="content/images/facebook-page.png" alt="Venez nous soutenir sur Facebook" height="25"></a></li>
    </ul>                
</nav>