<header class="navbar navbar-static-top" id="top"> 
    <div class="nav-container">
        <div class="navbar">
            <nav> 
                <ul class="nav">  
                    <li>
                        <div class="logo">
                            <a href="#top"><span>FeedMy</span><span>Sport</span><span>.com</span></a>
                        </div>
                        <!--<img src="content/images/temp_logo.png" alt="feedmysport.com" style="height:25px;" />-->
                    </li>
                    <li class="active"> <a href="#what">Le Concept</a> </li> 
                    <li> <a href="#whatsup">L'Actualité</a> </li>
                    <li> <a href="#who">La Team</a> </li> 
                </ul>
                <ul class="nav nav-right">
                    <li  > <a href="https://www.facebook.com/feedmysport" target="_blank"><img src="content/images/facebook-page.png" alt="Venez nous soutenir sur Facebook"></a></li>
                </ul>                
            </nav>
        </div>
    </div>
</header>