
        <div class="navbar">
            <nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FeedMySport.com</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <a href="#what">Le Concept</a> </li> 
        <li> <a href="#whatsup">L'Actualité</a> </li>
        <li> <a href="#who">La Team</a> </li> 
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
         <li> <a href="https://www.facebook.com/feedmysport" class="image-link" target="_blank"><img src="content/images/facebook-page.png" height="25" alt="Venez nous soutenir sur Facebook"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
            
        </div>


<!--<nav> 
                <ul class="nav">  
                    <li>
                        <div class="logo">
                            <a href="#top"><span>FeedMy</span><span>Sport</span><span>.com</span></a>
                        </div>
                        <img src="content/images/temp_logo.png" alt="feedmysport.com" style="height:25px;" />
                    </li>
                    <li class="active"> <a href="#what">Le Concept</a> </li> 
                    <li> <a href="#whatsup">L'Actualité</a> </li>
                    <li> <a href="#who">La Team</a> </li> 
                </ul>
                <ul class="nav nav-right">
                    <li> <a href="https://www.facebook.com/feedmysport" class="image-link" target="_blank"><img src="content/images/facebook-page.png" alt="Venez nous soutenir sur Facebook"></a></li>
                </ul>                
            </nav>-->