<section id="what" class="what">
    <h3>Le Concept</h3>
    <div class="container" style="text-align:center;">
        <p style="font-size:1.4em; ">Faites partie de la vie de vos sportifs favoris. En devenant mécène, vous pourriez aider vos sportifs à vivre de leur sport.</p>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="what-bullet-container">                                        
                    <img src="content/images/responsive-design-devices.jpg"  />
                    <div class="thumbnail-subtitle">
                        <span class="pill">1</span>
                        <div class="title">
                            On se connecte
                        </div>
                    </div>
            </div>
            <div class="what-bullet-container">                                        
                    <img src="content/images/responsive-design-devices.jpg" />
                    <div  class="thumbnail-subtitle">
                        <span class="pill">2</span>
                        <div class="title">
                            On donne
                        </div>
                    </div>
            </div>
            <div class="what-bullet-container">                                        
                    <img src="content/images/responsive-design-devices.jpg"  />
                    <div class="thumbnail-subtitle">
                        <span class="pill">3</span>
                        <div class="title">
                            On vois le résultat
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>