<section id="what" class="what">
    <div class="title">
        <h3>Le Concept</h3>
        <div>
            <p>Faites partie de la vie de vos sportifs favoris. En devenant mécène, vous pourriez aider vos sportifs à vivre de leur sport.</p>
        </div>
    </div>
    <div>
        <div class="bullet-container">
            <div class="bullet">                                        
                    <img src="content/images/responsive-design-devices.jpg"  />
                    <div class="thumbnail-subtitle">
                        <span class="pill">1</span>
                        <div class="title">
                            Choisissez l'athlète que vous souhaitez soutenir
                        </div>
                    </div>
            </div>
            <div class="bullet">                                        
                    <img src="content/images/responsive-design-devices.jpg" />
                    <div  class="thumbnail-subtitle">
                        <span class="pill">2</span>
                        <div class="title">
                            Devenez son mécène
                        </div>
                    </div>
            </div>           
        </div>
        <div class="bullet-container">
             <div class="bullet">                                        
                <img src="content/images/responsive-design-devices.jpg"  />
                <div class="thumbnail-subtitle">
                    <span class="pill">3</span>
                    <div class="title">
                        Feedmysport se charge de lui transmettre votre don
                    </div>
                </div>
            </div>
            <div class="bullet">                                        
                <img src="content/images/responsive-design-devices.jpg"  />
                <div class="thumbnail-subtitle">
                    <span class="pill">4</span>
                    <div class="title">
                        Suivez ses performances
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
