<section id="what" data-offset="50" class=" container what anchor-section">
    <div class="title row">
        <h3 class="text-center">Le Concept</h3>
        <div class="text-center">
            <p>Faites partie de la vie de vos sportifs favoris. En devenant mécène, vous pourriez aider vos sportifs à vivre de leur sport.</p>
        </div>
    </div>
    <div>
        <div class="bullet-container row">
            <div class="bullet col-lg-5 text-center" >                                        
                    <i class="fms fms-search fms-5x"></i>
                    <div class="thumbnail-subtitle ">
                        <span class="pill">1</span>
                        <div class="title">
                            Choisissez l'athlète que vous souhaitez soutenir
                        </div>
                    </div>
            </div>
            <div class="bullet col-lg-5 col-lg-offset-2 text-center" >                                        
                    <i class="fms fms-money fms-5x"></i>
                    <div class="thumbnail-subtitle ">
                        <span class="pill">2</span>
                        <div class="title">
                            Devenez son mécène
                        </div>
                    </div>
            </div>   
        </div>
        <div class="bullet-container row">          

            <div class="bullet col-lg-5 text-center" >                                        
                   <i class="fms fms-bicycle fms-5x"></i>
                   <div class="thumbnail-subtitle ">
                        <span class="pill">3</span>
                        <div class="title">
                            Feedmysport se charge de lui transmettre votre don
                        </div>
                    </div>
            </div>
            <div class="bullet col-lg-5 col-lg-offset-2 text-center" >                                        
                    <i class="fms fms-tachometer fms-5x"></i>
                    <div class="thumbnail-subtitle ">
                        <span class="pill">4</span>
                        <div class="title">
                            Suivez ses performances
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
