<section id="who" data-offset="80" class="who anchor-section container-fluid">
    <div class="title text-center">
        <h3>La Team</h3>
    </div>
    <div class="team-container container">
        <div class="row">

<div class="col-lg-6">
    <div class="team-item center-block ">
            <div class="team-civ row">
                <div class="team-pict col-lg-4">
                    <img src="content/images/001.jpg" class="col-lg-12"/>
                </div>
                <div class="team-info col-lg-6">
                    <div class="row">
                        <label>Prénom&nbsp;:&nbsp; </label>
                        <span>Angèle</span>
                    </div>
                    <div class="row">
                        <label>Qui suis-je&nbsp;:&nbsp;</label>
                        <span>Fondatrice</span>
                    </div>
                    
                    <div class="row">
                        <label>Mes Sports&nbsp;:&nbsp; </label>
                        <p>Danse classique, running, aviron, équitation, tennis</p>

                    </div> 
                    <div class="row">
                        <label>Fréquence&nbsp;:&nbsp; </label>
                        <span>3 fois/semaine</span>
                    </div>
                </div>
                <!--<div class="team-bullet">
                    <label>J'aime</label>
                    <ul>
                        <li>Danse classique</li>
                        <li>running</li>
                        <li>aviron</li>
                        <li>équitation</li>
                        <li>tennis</li>
                    </ul>
                </div>-->
            </div>
                            <br>
            <div class="team-desc">               
                <div>
                    <p>
                       <blockquote>
                       <i>"Le sport ne forge pas le caractère. Il le révèle."</i>
                       <br>
                       <span style="padding-left:25px; font-size:14px;">__Heywood Hale Broun</span>
                       </blockquote>
                    </p>
                </div>        
            </div>
        </div>
</div>

<div class="col-lg-6">
    <div class="team-item center-block">
            <div class="team-civ row">
                <div class="team-pict col-lg-4">
                    <img src="content/images/002.jpg" class="col-lg-12"/>
                </div>
                <div class="team-info col-lg-6">
                    <div class="row">
                        <label>Prénom&nbsp;:&nbsp; </label><span>Yoann</span>
                    </div>
                    <div class="row">
                        <label>Qui suis-je&nbsp;:&nbsp; </label> <span>Fondateur</span>
                    </div>
                    <div class="row">
                        <label>Mes Sports&nbsp;:&nbsp; </label>
                        <p>Ski, Tennis, E-Sport, Hockey, Football américain</p>
                    </div>
                    <div class="row">
                        <label>Fréquence&nbsp;:&nbsp; </label>
                        <span>quand cela m'est possible</span>
                    </div>
                </div>
                <!--<div class="team-bullet">
                    <label>J'aime</label>
                    <ul>
                        <li>Ski</li>
                        <li>Tennis</li>
                        <li>E-Sport</li>
                    </ul>
                </div>-->
            </div>
                            <br>
            <div class="team-desc">               
                <div>
                    <p>
                        <blockquote>
                            <i>"Les hommes se transmettent la vie comme les coureurs se passent le flambeau."</i>
                            <br>
                            <span style="padding-left:25px; font-size:14px;">__Lucrèce</span>
                        </blockquote>                        
                    </p>
                </div>        
            </div>
        </div>           
        
        </div>
        </div>    
    </div>    
    
    <!--<a href="mailto:hello@feedmysport.com" >"Nous contacter"</a> -->
</section>