<section id="who" data-offset="80" class="who">
    <div class="title">
        <h3>La Team</h3>
    </div>
    <div class="team-container">
        <div class="team-item">
            <div class="team-civ">
                <div class="team-pict">
                    <img src="content/images/001.jpg"/>
                </div>
                <div class="team-info">
                    <div>
                        <label>Prénom: </label>
                        <span>Angèle</span>
                    </div>
                    <br>
                    <div>
                        <label>Qui suis-je: </label>
                        <span>Fondatrice</span>
                    </div>
                </div>
            </div>
            <div class="team-desc">               
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ullamcorper lorem, et mattis erat. Aenean interdum lobortis facilisis. In suscipit dui id enim pellentesque, pharetra vulputate ex ultricies. In eu pulvinar eros. Donec id porttitor purus, ut convallis elit. Donec vulputate sollicitudin purus, a ornare augue condimentum sed.
                    </p>
                </div>        
            </div>
        </div>
        <div class="team-item">
            <div class="team-civ">
                <div class="team-pict">
                    <img src="content/images/002.jpg"/>
                </div>
                <div class="team-info">
                    <div>
                        <label>Prénom: </label><span>Yoann</span>
                    </div>
                    <br>
                    <div>
                        <label>Qui suis-je: </label> <span>Fondateur</span>
                    </div>
                </div>
                <div class="team-bullet">
                    <label>J'aime</label>
                    <ul>
                        <li>Ski</li>
                        <li>Tennis</li>
                        <li>E-Sport</li>
                    </ul>
                </div>
            </div>
            <div class="team-desc">               
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ullamcorper lorem, et mattis erat. Aenean interdum lobortis facilisis. In suscipit dui id enim pellentesque, pharetra vulputate ex ultricies. In eu pulvinar eros. Donec id porttitor purus, ut convallis elit. Donec vulputate sollicitudin purus, a ornare augue condimentum sed.
                    </p>
                </div>        
            </div>
        </div>       
    </div>    
    
    <!--<a href="mailto:hello@feedmysport.com" >"Nous contacter"</a> -->
</section>