    <section id="whatsup" data-offset="30" class=" container-fluid whatsup anchor-section hidden-sm hidden-md hidden-xs">
        
        <div class="title row">
            <h3 class="text-center">L'Actualité</h3>
        </div>


        <div class="social-container container">
            <div class="feed-row row">
            <div class="social-feed center-block facebook col-lg-6 ">

            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffeedmysport%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=200280557076971" width="585" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

            </div>
            <div class="social-feed center-block twitter col-lg-6 col-md-6">
                <div>
<!--
                                <a class="twitter-timeline"  href="https://twitter.com/search?q=%40feedmysport" data-widget-id="790327157402832896">Tweets sur @feedmysport</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
          <a class="twitter-timeline" data-width="585" data-height="500" href="https://twitter.com/feedmysport">Tweets by feedmysport</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            </div>
        </div>
    </section>  