<section id="who" class="what">
    <h3>La Team</h3>
    <div class="container" style="text-align:center;">
    <a href="mailto:hello@feedmysport.com" >"Nous contacter"</a>    
    </div>    
</section>