.title{
        margin-bottom:40px;

        h3{
            color:$fms-sub-highlight;
            font-size:2.9em;         
        }
        p{
            font-size:1.3em;
        } 
        h3, p{
            text-align: center;
            font-weight: bold; 
        }
    }