.who{
    @include container;
    .team-container{
        
        position:relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        div{
            display: inline-block;
        }

        .team-item{
            width:49%;
            height: 320px;
            margin-left:1%;
            padding:12px;
            border:1px solid $fms-gray-lighter;           
           
            .team-civ{
                display: block;
                 .team-pict{
                    img{
                        width:100px; 
                        height: 122px;
                    }
                }
                .team-info{
                    position: absolute;
                    top:60px;
                    margin-left:12px;
                    // display: flex; /* contexte sur le parent */
                    // flex-direction: column; /* direction d'affichage verticale */
                    // justify-content: center; /* alignement vertical */

                    label{
                        font-weight: bold;
                        padding-right:5px;
                    }
                }      
                .team-bullet{
                    label{
                        font-weight: bold;
                        margin-left:5px;
                    }
                    position: absolute;
                    top:25px;
                    margin-left:252px;
                }       
            }

            .team-desc{
                position: absolute;
                width:400px;
            }
        }
    }
}