<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FeedMySport.com</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../dist/hero.min.css" type="text/css" inline ></link>
    </head>    
    <body>
        <!--<header class="navbar navbar-static-top" id="top"> 
        {{> _nav}}   
        </header>    -->
        <section class="main-container">
            <div class="jumbo-bar">               
                <div class="jumbo-container">                    
                    {{> _jumboPict}}   
                    {{> _jumboDescription}}
                </div>
            </div>            
            <!--{{> _sectionWhat}}
            {{> _sectionWho}}--> 
        </section>     
        <!--<footer class="fixed-footer container-fluid"> 
            <div class="col-lg-2">
                <a target="_blank" href="https://www.facebook.com/feedmysport" class="footer-link">
                    <img src="content/images/facebook-page.png" alt="Venez nous soutenir sur Facebook">
                </a>    
            </div>
        </footer>   -->
    </body>    
</html>
<!--<link href="dist/app.css" rel="stylesheet">
<link href="dist/style.css" rel="stylesheet">-->