<!DOCTYPE html>
<html lang="en">
    <head>
        {{> _facebook}}            
        <title>FeedMySport.com</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" ><link>
        <link rel="stylesheet" href="../../dist/picto.min.css" type="text/css" inline ></link>
        <link rel="stylesheet" href="../../dist/hero.min.css" type="text/css" inline ></link>
        <link rel="stylesheet" href="dist/app.min.css" type="text/css" ></link>
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script  src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    </head>     
    <body>    
        {{> _nav}}    
        <script type="text/javascript">
            (
                function(){
                    $('ul.nav li a:not(".image-link")').on('click', function(e){
                        e.preventDefault();
                        var $this = $(this); 
                        var speed =800,
                        windowHeight = $(window).height();

                        var $target = $($this.attr('href'));                                                
                       

                        var offset= $target.data('offset');     
                        
                        var val = $target.offset().top ;
                        if(val > 2 * offset ){
                            val -= offset;
                        }

                       $('.anchor-section').css('min-height', '10px');
                        
                        /*
                        if($target && $target.attr('id') !== "top"){
                            $target.css('min-height', windowHeight);
                        }*/

                        
                        $('html, body').animate({
                            scrollTop: val,
                            minHeight:windowHeight
                        }, speed,'easeInOutQuad');

                         
                        
                        
                    });                    
                }
            )();
        </script>    
        <section >
            <div class="main-container">
            <div class="jumbo-bar">               
                <div class="jumbo-container">                   
                    {{> _jumboPict}}   
                    {{> _jumboDescription}}
                </div>
            </div>            
            </div>         
            <script type="text/javascript">
                (
                    function(window, undefined, $){
                        var $form = $('#nl-form'),
                            $btn = $('#email-button'), 
                            $email=$('input[name="email"]');
                        $btn.on('click',function(){
                             var link = "mailto:hello@feedmysport.com"
                                        + "&subject=" + escape("Inscription courriel")
                                        + "&body=" + escape("Je souhaite suivre l'aventure www.feedmysport.com.'")
                                ;

                            window.location.href = link;   
                        });  
                    }    
                )(window,undefined,$);
            </script>   
        </section>      
        <section style="margin-bottom:70px;"> 
            {{> _sectionWhat}} 
            {{> _sectionWhatsup}} 
            {{> _sectionWho}}         
        </section>
        <footer class="container-fluid"> 
            	&copy;FeedMySport - 2016
        </footer>   
    </body>    
</html>